In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('D:\\py_project\\titanic\\train.csv')
test = pd.read_csv('D:\\py_project\\titanic\\test.csv')
sub = pd.read_csv('D:\\py_project\\titanic\\gender_submission.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
train.shape,test.shape,sub.shape

((891, 12), (418, 11), (418, 2))

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [14]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [20]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [68]:
#生成是否缺失的变量
na_list = [ 'Age', 'Cabin', 'Embarked']
#数值型插值
col_number_input = ['Age','Fare']
input_num = train[col_number_input].median()
#类别型插值
col_class_input = ['Embarked']
input_class = train[col_class_input].mode()
#one-hot
col_onehot = ['Pclass', 'Sex', 'SibSp','Parch', 'Embarked']
#标准化
col_standar = ['balance','salary']

In [69]:

def fe(dataframe):
    dt = dataframe.copy()
    def isna(x): return sum(x.isnull())
    #dt['na_num'] = dt.apply(isna,axis=1)
    for col in col_number_input:
        dt[col] = dt[col].fillna(input_num[col])
    dt[col_class_input] = dt[col_class_input].fillna(input_class)
    dt = pd.get_dummies(dt,columns=col_onehot)
    dt = dt.drop(['Cabin','Name','Ticket'],axis=1)
    return dt

In [70]:
data_train = fe(train)
data_test = fe(test)

In [37]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 26 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            891 non-null float64
Fare           891 non-null float64
Pclass_1       891 non-null uint8
Pclass_2       891 non-null uint8
Pclass_3       891 non-null uint8
Sex_female     891 non-null uint8
Sex_male       891 non-null uint8
SibSp_0        891 non-null uint8
SibSp_1        891 non-null uint8
SibSp_2        891 non-null uint8
SibSp_3        891 non-null uint8
SibSp_4        891 non-null uint8
SibSp_5        891 non-null uint8
SibSp_8        891 non-null uint8
Parch_0        891 non-null uint8
Parch_1        891 non-null uint8
Parch_2        891 non-null uint8
Parch_3        891 non-null uint8
Parch_4        891 non-null uint8
Parch_5        891 non-null uint8
Parch_6        891 non-null uint8
Embarked_C     891 non-null uint8
Embarked_Q     891 non-null uint8
Embarked_S     891 non-null uint8
dtypes: float64(2), int64(2), uint8(22)
memory usage: 47.1 KB

In [38]:
data_train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [39]:
train_y = data_train['Survived']
train_x = data_train.drop(['PassengerId','Survived'],axis=1)

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import  precision_score,roc_auc_score,roc_curve,auc,recall_score,f1_score,accuracy_score

In [45]:
X_train, X_test, y_train, y_test = train_test_split(train_x, train_y, test_size=0.33, random_state=51)

In [55]:
def show_f1(model,train_x=X_train,train_y=y_train,test_x=X_test,test_y=y_test):
    pre_train_y = model.predict(train_x)
    pre_test_y = model.predict(test_x)
    pre_train_prob = model.predict_proba(train_x)[:,1]
    pre_test_prob = model.predict_proba(test_x)[:,1]
    fpr_train, tpr_train, thresholds = roc_curve(train_y, pre_train_prob)
    fpr_test, tpr_test, thresholds = roc_curve(test_y, pre_test_prob)
    model_f1 = {
        'train_accuracy_score':accuracy_score(train_y,pre_train_y),
        'train_recall_score':recall_score(train_y,pre_train_y),
        'train_precision_score':precision_score(train_y,pre_train_y),
        'train_f1_score':f1_score(train_y,pre_train_y),
        'train_auc':auc(fpr_train, tpr_train),
        'test_accuracy_score':accuracy_score(test_y,pre_test_y),
        'test_recall_score':recall_score(test_y,pre_test_y),
        'test_precision_score':precision_score(test_y,pre_test_y),
        'test_f1_score':f1_score(test_y,pre_test_y),
        'test_auc':auc(fpr_test, tpr_test)
    }
    return pd.Series(model_f1)

In [50]:
lr = LogisticRegression()
param_grid = {
    'penalty':['l2','l1'],
    'C':np.arange(0.1,1.0,0.1)
}
model = GridSearchCV( lr, param_grid=param_grid,scoring='f1', n_jobs=-1,cv=5, verbose=5)
model.fit(X_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done  41 out of  90 | elapsed:    4.3s remaining:    5.1s
[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed:    4.4s finished
C:\Users\xiao\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'penalty': ['l2', 'l1'], 'C': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='f1', verbose=5)

In [51]:
model.best_params_,model.best_score_

({'C': 0.9, 'penalty': 'l2'}, 0.7412193296895246)

In [56]:
lr = model.best_estimator_
show_f1(lr)

train_accuracy_score     0.818792
train_recall_score       0.734783
train_precision_score    0.782407
train_f1_score           0.757848
train_auc                0.882371
test_accuracy_score      0.810169
test_recall_score        0.696429
test_precision_score     0.780000
test_f1_score            0.735849
test_auc                 0.814110
dtype: float64

In [71]:
data_test_x = data_test.drop(['PassengerId'],axis=1)
lr_pre = lr.predict(data_test_x)

ValueError: X has 25 features per sample; expecting 24

In [72]:
data_test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 25 columns):
Age           418 non-null float64
Fare          418 non-null float64
Pclass_1      418 non-null uint8
Pclass_2      418 non-null uint8
Pclass_3      418 non-null uint8
Sex_female    418 non-null uint8
Sex_male      418 non-null uint8
SibSp_0       418 non-null uint8
SibSp_1       418 non-null uint8
SibSp_2       418 non-null uint8
SibSp_3       418 non-null uint8
SibSp_4       418 non-null uint8
SibSp_5       418 non-null uint8
SibSp_8       418 non-null uint8
Parch_0       418 non-null uint8
Parch_1       418 non-null uint8
Parch_2       418 non-null uint8
Parch_3       418 non-null uint8
Parch_4       418 non-null uint8
Parch_5       418 non-null uint8
Parch_6       418 non-null uint8
Parch_9       418 non-null uint8
Embarked_C    418 non-null uint8
Embarked_Q    418 non-null uint8
Embarked_S    418 non-null uint8
dtypes: float64(2), uint8(23)
memory usage: 16.0 KB

In [73]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 24 columns):
Age           891 non-null float64
Fare          891 non-null float64
Pclass_1      891 non-null uint8
Pclass_2      891 non-null uint8
Pclass_3      891 non-null uint8
Sex_female    891 non-null uint8
Sex_male      891 non-null uint8
SibSp_0       891 non-null uint8
SibSp_1       891 non-null uint8
SibSp_2       891 non-null uint8
SibSp_3       891 non-null uint8
SibSp_4       891 non-null uint8
SibSp_5       891 non-null uint8
SibSp_8       891 non-null uint8
Parch_0       891 non-null uint8
Parch_1       891 non-null uint8
Parch_2       891 non-null uint8
Parch_3       891 non-null uint8
Parch_4       891 non-null uint8
Parch_5       891 non-null uint8
Parch_6       891 non-null uint8
Embarked_C    891 non-null uint8
Embarked_Q    891 non-null uint8
Embarked_S    891 non-null uint8
dtypes: float64(2), uint8(22)
memory usage: 33.1 KB